<div class="container-fluid">

  <form ng-submit="cocktailEditCtrl.submit()" name="cocktailEditForm">

    <fieldset>

      <legend>Description</legend>

        <label for="cocktailNameInput">Name</label>
        <input type="text" ng-model="cocktailEditCtrl.cocktail.name" required id="cocktailNameInput" class="form-control" placeholder="Cocktail Name" />

        <label for="cocktailSourceInput">Source</label>
        <input type="text" ng-model="cocktailEditCtrl.cocktail.source.name" required id="cocktailSourceInput" class="form-control" placeholder="Cocktail Source" />

    </fieldSet>

    <fieldset name="equipmentForm">

      <legend>Equipment</legend>

      <div ng-repeat="item in cocktailEditCtrl.cocktail.equipment track by $index" class="input-group">
        <input type="text" ng-model="cocktailEditCtrl.cocktail.equipment[$index].name" class="form-control" placeholder="Equipment name" aria-describedby="basic-addon1" />
        <span class="input-group-addon" ng-click="cocktailEditCtrl.removeEquipment($index)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </span>
      </div>

      <button type="button" ng-click="cocktailEditCtrl.addEquipment()" class="btn pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>

    </fieldset>

    <fieldset>

      <legend>Ingredients</legend>

      <div ng-repeat="ingredient in cocktailEditCtrl.cocktail.ingredients track by $index">
          <input type="text" ng-model="cocktailEditCtrl.cocktail.ingredients[$index].quantity" class="form-control" />
          <input type="text" ng-model="cocktailEditCtrl.cocktail.ingredients[$index].unit" class="form-control" />
          <input type="text" ng-model="cocktailEditCtrl.cocktail.ingredients[$index].name" class="form-control" />
        <button type="button" ng-click="cocktailEditCtrl.addIngredient()" class="btn btn-xs pull-right">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
      </div>

      <button type="button" ng-click="cocktailEditCtrl.addIngredient()" class="btn pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>

    </fieldset>

    <fieldset class="row">
      <legend>Preparation</legend>
      <div ng-repeat="step in cocktailEditCtrl.cocktail.method track by $index">
        <ng-form name="methodStepForm">
          <div class="input-group">
            <textarea ng-model="cocktailEditCtrl.cocktail.method[$index]" class="form-control col-xs-11"></textarea>
            <span class="input-group-addon" ng-click="cocktailEditCtrl.removeStep($index)">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </span>
          </div>
        </ng-form>
      </div>

      <button type="button" ng-click="cocktailEditCtrl.addStep()" class="btn pull-right">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </fieldset>

    <div>
      <div class="pull-left">
        <button type="button" ng-click="cocktailEditCtrl.cancel()" class="btn btn-default">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </button>
      </div>

      <div class="pull-right">
        <button type="submit" class="btn btn-primary" ng-disabled="cocktailForm.$invalid || cocktailEditForm.isDisabled">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
      </div>
    </div>

  </form>

</div>
