{
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            },
            "debug": true,
            "useBuiltIns": true
        }],
        "stage-0"
    ]
}